/* * {box-sizing: border-box;} */
:root {
    --blue: #1f3044;
    --orange:hsl(27, 96%, 60%);
    --light-orange:hsl(27, 96%, 70%);
    --gray:#646c79;
    --dark-gray: #252525;
}

/* Noto Sans Cuneiform (Cuneiform) http://www.google.com/fonts/earlyaccess */
 @font-face {
    font-family: 'Noto Sans Cuneiform';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.eot);
    src: url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanscuneiform/v1/NotoSansCuneiform-Regular.ttf) format('truetype');
  }

.cuneiform {
    font-family: 'Noto Sans Cuneiform', sans-serif;
    font-size: 2.25rem;
}

html {
    color:var(--dark-gray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: var(--blue);
    text-decoration-color: var(--orange);
    text-decoration-style: double;
}

a:hover{
    background-color: var(--light-orange);
    text-decoration-color: var(--blue);
}

.search-box {
    background-color: var(--blue);
    border-bottom:solid 1px #ddd;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.search-box * {
    border: solid 1px #ddd;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.search-box input {
    min-width: 10rem;
    flex: 4;
    max-width: 20rem;
    margin-right:0.5rem;
}

.search-box button {
    background-color:white;
    flex: 1;
    max-width: 8rem;
}

.content {
    padding: 1rem;
    margin: auto;
    max-width:66rem;
}

.content h2 {
    display: inline-block;
    color: var(--orange);
    background-color: var(--blue);
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 0;
}

.results-card {
    padding:0.5rem 0;
    background: #eee;
    border:solid 1px #ddd;
    margin: 0.5rem 0;
    display:flex;
}

.results-card-image-wrapper {
    text-align: center;
    /* background-color: aquamarine; */
    padding: 0 3rem 0 1rem;
    min-width: 5rem;
}

.resuts-card-content {

}

.results-card-values {
    line-height: 1.5;
    font-size: 1.21rem;
    margin-bottom: 0.5rem;
    margin-right:1rem;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
}

.results-card-header {
    font-size: 1.5rem;
    display: block;
    margin: 0;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

.results-card-list-ids {
    font-size: 0.85rem;
    display:  flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-end;
}
.signlist-id-badge {
    color: white;
    margin: 0.25rem;
    background-color: var(--blue);
    border-radius: 0.25rem;
    padding:0.25rem 0.5rem;
}

@media only screen and (min-width: 700px) {
    .cuneiform {
        font-size: 2.75rem;
    }
}

/* .value{ white-space: nowrap; }
.value:not(:last-child)::after {
    content: '\00B7'
} */