<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sign List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="container">
        <form class="search-box" action="/" method="GET">
            <input type="text" name="search"/>
            <button type="submit">Search&nbsp;»</button>
        </form>
        <div class="content">
          {% block container %}{% endblock %}
        </div>
  </div>
</body>
</html>