<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Sign List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <div class="container">
    <div class="search-box">
        <form action="search" method="GET">
            <input type="text" name="query" placeholder="Sign value, signlist number"/>
            <button type="submit">Search</button>
        </form>
      </div>
      {% block container %}{% endblock %}
  </div>
</body>
</html>