{% extends 'index.html' %}
 
{% block container %}
  {% if signs == false %}
  <h2>No signs matching "{{query}}"</h2>
  {% else %}
  <div class="search-results">
    <h2>Matching Signs</h2>
    {% for sign in signs %}
      <div class="results-card">
        <h3 class="results-card-header"><a href="/signs/{{sign.borger_id}}">{{sign.borger_name}}</a></h3>
          <div class="results-card-sign">
            <span class="cuneiform">{{sign.unicode_value}}</span>
          </div>
        <div class="results-card-values">
          {% for value in sign.values %}
            <span class="value">
              {{value}}
            </span>
          {% endfor %}
        </div><!-- results-card-values -->
        <div class="results-card-list-ids">
          <span class="signlist-id-badge">Borger: {{sign.borger_id}}</span>
          <span class="signlist-id-badge">Labat: {{sign.labat_id}}</span>
          <span class="signlist-id-badge">Huehnergard: {{sign.huehnergard_id}}</span>
          <span class="signlist-id-badge">Deimel: {{sign.deimel_id}}</span>
          <span class="signlist-id-badge">Mittermayer: {{sign.mittermayer_id}}</span>
          <span class="signlist-id-badge">Heth ZL: {{sign.hethzl_id}}</span>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}