{% extends 'index.html' %}
 
{% block container %}
<div class="results-card">
    <h3 class="results-card-header"><a href="/signs/{{sign.borger_id}}">{{sign.borger_name}}</a></h3>
      <div class="results-card-sign">
        <span class="cuneiform">{{sign.unicode_value}}</span>
      </div>
    <div class="results-card-values">
      {% for value in sign.values %}
        <span class="value">
          {{value}}
        </span>
      {% endfor %}
    </div><!-- results-card-values -->
    <div class="results-card-list-ids">
      <span class="signlist-id-badge">Borger: {{sign.borger_id}}</span>
      <span class="signlist-id-badge">Labat: {{sign.labat_id}}</span>
      <span class="signlist-id-badge">Huehnergard: {{sign.huehnergard_id}}</span>
      <span class="signlist-id-badge">Deimel: {{sign.deimel_id}}</span>
      <span class="signlist-id-badge">Mittermayer: {{sign.mittermayer_id}}</span>
      <span class="signlist-id-badge">Heth ZL: {{sign.hethzl_id}}</span>
    </div>
  </div>
  <div class="stats">
    <div class="stats-row">
      <div class="stats-section">
        <h3 class="title">Old Bablylonian</h3>
        <table>
          <thead>
            <tr>
              <th>Sign Value</th>
              <th>Freq.</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for ob in stats['ob'] %}
            <tr>
              <td>{{ob.value}}</td>
              <td>{{ob.freq}}</td>
              <td>{{ob.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="stats-section">
        <h3 class="title">Neo-Bablylonian</h3>
        <table>
          <thead>
            <tr>
              <th>Sign Value</th>
              <th>Freq.</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for nb in stats['nb'] %}
            <tr>
              <td>{{nb.value}}</td>
              <td>{{nb.freq}}</td>
              <td>{{nb.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="stats-row">
      <div class="stats-section">
        <h3 class="title">Neo-Assyrian</h3>
        <table>
          <thead>
            <tr>
              <th>Sign Value</th>
              <th>Freq.</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for na in stats['na'] %}
            <tr>
              <td>{{na.value}}</td>
              <td>{{na.freq}}</td>
              <td>{{na.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="stats-section">
        <h3 class="title">Ebla</h3>
        <table>
          <thead>
            <tr>
              <th>Sign Value</th>
              <th>Freq.</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            {% for ebla in stats['ebla'] %}
            <tr>
              <td>{{ebla.value}}</td>
              <td>{{ebla.freq}}</td>
              <td>{{ebla.type}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}