{% extends 'index.html' %}
 
{% block container %}
  <div class="sign-info">
      <p>name: {{sign.borger_name}}
        {% if sign.unicode_name != '' %}
          ( {{sign.unicode_name}} )
        {% endif %}
        <span class="cuneiform">{{sign.unicode_value}}</span>
      </p>
      <p>
        {% for value in sign.values %}
          <span class="sign-value">{{value}}</span>
        {% endfor %}
      </p>
      <p>Signlist IDs:
        <dt>Borger</dt>       <dd>{{sign.borger_id}}</dd>
        <dt>Labat</dt>        <dd>{{sign.labat_id}}</dd>
        <dt>Huehnergard</dt>  <dd>{{sign.huehnergard_id}}</dd>
        <dt>Deimel</dt>       <dd>{{sign.deimel_id}}</dd>
        <dt>Mittermayer</dt>  <dd>{{sign.mittermayer_id}}</dd>
        <dt>Heth ZL</dt>      <dd>{{sign.hethzl_id}}</dd>
      </p>
  </div>
{% endblock %}